<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content})}">
<head>
    <title>Login</title>
</head>
<body>
<div id="content">

    <div class="grid grid-cols-12">
        <!-- first part -->
       <div class="col-start-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
       <!-- second part -->
       <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4 relative items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 hover:text-white dark:text-white shadow">
           <div
               class="relative px-5 py-2 bg-white dark:bg-gray-900 rounded-md">
               
               <!-- message here -->
                <div th:replace="~{message :: messagebox}">

                </div>
                <!-- heading -->
               <h5 class="mt-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Login Here</h5>
               <p class="font-normal text-gray-500 dark:text-gray-400">Login using your email</p>
               <hr>
               <div class="text-red-600" th:if="${param.error}">
                    Invalid email or password
               </div>
               <div class="text-green-600" th:if="${param.logout}">
                    You have been logged out
               </div>
               <!-- form starts -->
               <form th:action="@{'/authenticate'}"  method="post" class="mt-4">
                   <!-- email -->
                   <div class="mt-2">
                       <label 
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                       <input type="email" id="email"
                       name="email"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="example@gmail.com" />
                   </div>
                   <!-- <p class="text-red-600" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p> -->
                   <!-- password -->
                   <div class="mt-2">
                       <label 
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                           password</label>
                       <input
                       name="password" type="password" id="password" placeholder="•••••••••"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           />
                   </div>
                   <!-- <p class="text-red-600" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p> -->
                   
                   <div class="mb-3 mt-1 flex justify-center space-x-3">

                       <button type="submit" class="px-3 py-2 rounded bg-blue-700 text-white">Login</button>
                       <button type="reset" class="px-3 py-2 rounded bg-red-900 text-white">Reset</button>
                   </div>
                   <div class="flex justify-center">
                       <button type="button" class="text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55 me-2 mb-2">
                           <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 19">
                               <path fill-rule="evenodd" d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z" clip-rule="evenodd"/>
                            </svg>
                            <a th:href="@{'/oauth2/authorization/google'}">
                                Sign in with Google
                            </a>
                        </button>
                    </div>
               </form>
           </div>

       </div>
   </div>
</div>
<script>
    
</script>
</body>
</html>